<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Ideone Run Valid Code In C Test" parallel="false" thread-count="1">
    <test name="Paste and run the code">
        <classes>
            <class name="test.IdeoneHomePageTest"/>
            <class name="test.IdeoneResultsPageTest"/>
        </classes>
    </test>
</suite>